@import '~antd/dist/antd.css';
.App {
  text-align: left;
}

body {
  background: #DFF9D0 !important;
}
.body-content {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  min-height: 100vh;
  background: #ffffff;
}

.ant-layout-header {
  color: #fff !important;
}
